:root {
  --color-primary: #1b1464;
  --color-secondary: #71c4bd;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-black;
  }

  .nav-menu {
    @apply absolute top-0 right-0 z-10 h-screen w-screen bg-primary dark:bg-red-900;
  }

  .button {
    @apply border-4 border-dashed border-secondary bg-primary py-4 px-6 font-body tracking-wider text-white shadow-small hover:border-primary hover:bg-secondary hover:shadow-large dark:border-rose-500 dark:bg-red-900 dark:shadow-small_dark dark:hover:border-red-900 dark:hover:bg-rose-500 dark:hover:shadow-large_dark;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  @apply cursor-blue-cursor dark:cursor-red-cursor;
}

html {
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: content-box;
}

* a {
  @apply cursor-blue-pointer dark:cursor-red-pointer;
}

* button {
  @apply cursor-blue-pointer dark:cursor-red-pointer;
}

.t-btn {
  @apply cursor-blue-pointer dark:cursor-red-pointer;
}

* p,
li,
a {
  @apply dark:text-gray-300;
}

.loader-wrapper {
  background: var(--color-primary);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  @apply dark:bg-red-900;
}

.logoSplash {
  perspective: 40em;
  height: 50px;
  width: 50px;
}

#header {
  background-color: rgba(255, 255, 255, 0.8);
}

.logo {
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.logo:hover {
  -webkit-transform: scale(1.2) rotate(1turn);
  -ms-transform: scale(1.2) rotate(1turn);
  transform: scale(1.2) rotate(1turn);
}

.presentation {
  height: calc(100vh - 80px);
}

.minor-section {
  min-height: 80vh;
}

.sectionHeading {
  border-bottom: 4px dashed var(--color-secondary);
  flex-basis: auto;
  @apply dark:border-b-4 dark:border-b-rose-500 dark:text-red-900;
}

.picture {
  border: 4px dashed var(--color-primary);
  -webkit-transition: 0.5s cubic-bezier(0.01, 0.91, 0.32, 1.28);
  -o-transition: 0.5s cubic-bezier(0.01, 0.91, 0.32, 1.28);
  transition: 0.5s cubic-bezier(0.01, 0.91, 0.32, 1.28);
  aspect-ratio: 1 / 1;
  @apply dark:border-b-4 dark:border-red-900 dark:shadow-small_dark dark:hover:shadow-large_dark;
}

.picture:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.projectImg {
  border: 4px dashed var(--color-primary);
  -webkit-transition: 0.5s cubic-bezier(0.01, 0.91, 0.32, 1.28);
  -o-transition: 0.5s cubic-bezier(0.01, 0.91, 0.32, 1.28);
  transition: 0.5s cubic-bezier(0.01, 0.91, 0.32, 1.28);
  @apply dark:border-red-900 dark:shadow-small_dark dark:hover:shadow-large_dark;
}

.projectImg:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

#overlay {
  filter: grayscale(100%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 1;
  -webkit-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

#overlay:hover {
  opacity: 0;
}

.button {
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.button:hover {
  -webkit-transform: translatey(2px);
  -ms-transform: translatey(2px);
  transform: translatey(2px);
}

.icon {
  -webkit-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all;
  @apply dark:text-red-900;
}

.icon:hover {
  -webkit-transform: translatey(-2px);
  -ms-transform: translatey(-2px);
  transform: translatey(-2px);
}

.tech-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.tech-items {
  border: 4px dashed var(--color-primary);
  @apply dark:border-red-900;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
